//- index.pug
doctype html
html
  title Karun Dance Academy
  head
    style
      include ../static/style.css
  body
    nav#navBar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Contact Us]
            li #[a(href="/") Class Info]
    section#introSection
        div Welcome To Karun Dance Academy
        div.small Eat Dance Repeat
    section#missionSection
        h3 Our Mission
        div.card
            h4 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        div.card
            h4 Dance The Way You like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        div.card
            h4 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

    section#sponsorSection
        h3 Our sponsors
            
    section#footer
        | footer
            
    script
      include ../static/index.js

