*{
    margin: 0;box-sizing:border-box;
    padding:0;
}
#navBar{
    background-color:aquamarine;
    padding:18px 14px;
    
}

#navBar ul {
display: flex;
flex-direction:row;

}
#navBar li{
    list-style: none;
}
#navBar li a{
    text-decoration: none;
    padding:13px 30px;

}
#navBar li a:hover{
    font-weight:bold;

}

#introSection{display: flex;
    flex-direction: column;
    font-size:4rem;
    color:white;display:flex;
    align-items: center;justify-content: center;
background:top / cover no-repeat url("/static/abs-1850926_1280.jpg"); 
height:600px;
background-color:red;
opacity:0.7;

}
#introSection div.small{
    font-size: 2rem;
}
#missionSection{
    text-align: center;
    height:500px;
    
    width:67%;
    margin:auto;

}
h3{
    font-size:36px;
}
#logo{
    display: flex;
    color:white;
    align-items: center;
  
}
#logo img{
    height:42px;
    filter:invert(1)
}
.card{
    border: 1px solid black;
    border-radius:10px;
    width:27%;
    margin:40px 23px;
    height:300px;
display: inline-block;

}
.card-box{
    display:flex;align-items:center;
    justify-content:space-between;
}
.card-img{
    height:131px;
    padding:0px 14px;
    margin:12px;
}

.card-img img{
    height:inherit;
   
}
.card-content{
    padding:10px 10px;

}
#sponsorSection{
    height:300px;
    background-color:yellow;

}
#footer{
color:white;
background-color:black;
height:50px;
display: flex;
align-items: center;
justify-content: center;
}
#sponsorSection h3{
    text-align:center;
    padding-top: 3px;
}

#sponsors{height:190px;
    max-width: 1000px;
    margin:27px auto;

}

.spImage{
    height:80%;
    margin:20px;
}